<?php

define('DB_HOST', '');
define('DB_USERNAME', '');
define('DB_PASSWORD', '');
define('DB_NAME', '');

define('SMTP_HOST', '');
define('SMTP_UNAME', '');
define('SMTP_PASSWORD', '');
define('SMTP_PORT', );
